H1 {
    background-color: black;
    color:greenyellow;
}
.dark {
    background-color:black;
    color:greenyellow;
    padding: 10px;
}
.light{
    background-color: white;
    color:greenyellow;
    padding: 10px;
}
table, th, td {
    border:1px solid black;

  }
th {
    text-align: left;
}
